@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'raleway';
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: #000000;
}

#page1 {
  height: 100%;
  width: 100%;
  display: flex;
}

.nav {
  padding: 2vw 3vw;
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: space-between;
  align-items: center;

}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-10px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.navpart1 {
  color: white;
  font-size: 30px;
  font-weight: 100;
  animation: fade-down 1s .4s;
  text-decoration: none;
}

.navpart1 h3 a {
  font-weight: 100;
  text-decoration: none;
  color: white;
}

.navpart2 {
  display: flex;
  align-items: center;
  gap: 1vw;
  animation: fade-down 1s .4s;
}

.navpart2 h4 {
  padding: 10px 20px;
  border: 0.5px solid rgba(255, 255, 255, 0.802);
  border-radius: 50px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.835);
  font-size: 20px;
  position: relative;
  transition: all ease 0.3s;
  overflow: hidden;
}

.navpart2 h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.3s;
}

.navpart2 h4:hover::after {
  bottom: 0;
  border-radius: 0;
}

.navpart2 h4 a {
  text-decoration: none;
  color: white;
  position: relative;
  z-index: 9;
}

.navpart2 h4 a:hover {
  color: black;
}

.icons {
  position: fixed;
  top: 39%;
  right: 0%;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.icons a {
  text-decoration: none;
  padding: 20px;
  font-size: 1vw;
  font-family: 'Raleway';
  margin: 2px;
  text-align: left;
  border-radius: 50px 0px 0px 50px;
  transform: translate(140px, 0px);
  transition: all 0.5s;
}

.icons a:hover {
  transform: translate(0px, 0px);
}

.icons a:hover .fa-instagram {
  color: rgb(0, 0, 0);
}

.icons a:hover .fa-whatsapp {
  color: rgb(0, 0, 0);
}

.icons a:hover .fa-linkedin {
  color: rgb(0, 0, 0);
}

.icons a i {
  margin-right: 30px;
  transition: all 0.5s;
  color: rgb(255, 255, 255);
}

.icons a:hover i {
  transform: rotate(360deg);
}

.whatsapp,
.instagram,
.linkedin {
  background-color: none;
  color: rgb(0, 0, 0);

}

.whatsapp {
  font-size: 2vw;
}

.whatsapp:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.instagram:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.linkedin:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

#content {
  height: 100%;
  width: 50%;
  align-items: center;
  justify-content: center;
  padding-top: 30vh;
  padding-left: 10vw;
  padding-right: 0;
    color: white;

}

#content h1 {
  font-size: 3vw;
  font-weight: 800;
  color: pink;

}


#content p {
  font-size: 1.5vw;
  font-weight: 300;
  padding: 20px 0;
  text-align: justify;
}

#content h2 {
  font-size: 2vw;
  font-weight: 100;
}

#content h4 {
  font-size: 2vw;
  font-weight: 400;
  padding: 20px 0;
}

#content img {
  height: 4vw;
  width: 4vw;
  margin-right: 20px;
}

#image {
  height: 100vh;
}

#image img {
  padding: 10vw;
  height: 100vh;
  width: auto;

}

@media (max-width:600px) {
  #page1 {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
  }

  #content h1 {
    font-size: 5vw;
    font-weight: 800;

  }

  #content h2 {
    font-size: 5vw;

  }

  #content {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 0;
  }

  #image {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
  }

  #image img {
    margin-top: 10vh;
    margin-bottom: 2vh;
    height: 60vh;
    width: auto;
  }

  #content img {
    height: 5vw;
    width: 5vw;

  }

  #content h4 {
    font-size: 3vw;
    font-weight: 400;
    padding: 10px 0;
  }

  #content p {
    font-size: 2vw;
    font-weight: 300;
    padding: 2vw 0;
    text-align: justify;
  }

  .nav {
    padding: 4vw 4vw;
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: space-between;
    align-items: center;

  }

  .navpart2 h4 {
    padding: 1vw 2vw;
    border: 0.2px solid rgba(255, 255, 255, 0.802);
    border-radius: 50px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.835);
    font-size: 3vw;
    position: relative;
    transition: all ease 0.3s;
    overflow: hidden;
  }

  .icons a {
    text-decoration: none;
    padding: 20px;
    font-size: 2.5vw;
    font-family: 'Raleway';
    margin: 2px;
    text-align: left;
    border-radius: 50px 0px 0px 50px;
    transform: translate(140px, 0px);
    transition: all 0.5s;
  }
}