@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: #000000;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  font-family: 'Vestaly', sans-serif;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  width: 90%;
  margin-top: 20px;
}

.left {
  flex: 1;
  text-align: center;
}

.right {
  flex: 1;
  padding: 20px;
  text-align: justify;
  font-family: 'raleway', sans-serif;
  color: white;
}

.right h2 {
  font-size: 3vw;
  color: pink;
  padding-bottom: .01vw;
  font-weight: 800;
}

.right h3 {
  font-size: 2vw;
  color: rgb(255, 255, 255);
  font-weight: 100;
  padding-bottom: 1vw;
}

.right p {
  font-size: 1vw;
  color: rgb(255, 255, 255);
  font-weight: 100;
  object-fit: fill;
  padding-bottom: 4vw;
}

.right h4 a {
  text-decoration: none;
  color: white;
  font-weight: 100;
  font-size: 1.5vw;
  padding: 1vw 2vw;
  border: 0.5px solid rgba(255, 255, 255, 0.802);
  border-radius: 10px;
}

.right h4 a:hover {
  background-color: pink;
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform: scale(1.1);
  border: 0px;
  color: black;
  font-weight: 300;
}

@keyframes example {
  0% {
    background-color: pink
  }

  25% {
    background-color: rgb(254, 173, 187)
  }

  50% {
    background-color: rgb(255, 160, 176)
  }

  100% {
    background-color: rgb(252, 102, 127)
  }
}

img {
  height: 400px;
  width: 100%;
  max-width: 300px;
  border-radius: 50px;
  object-fit: cover;
  object-position: 0 -30px;
  
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .left,
  .right {
    flex: none;
    width: 100%;
    text-align: center;
  }

  img {
    height: 240px;
    max-width: 200px;
    border-radius: 100px;
    object-position: 0 -10px;
  }
  .right h2 {
    font-size: 6vw;
    color: pink;
    padding-bottom: .01vw;
    font-weight: 800;
  }
  
  .right h3 {
    font-size: 5vw;
    color: rgb(255, 255, 255);
    font-weight: 100;
    padding-bottom: .5vw;
  }
  
  .right p {
    font-size: 3vw;
    color: rgb(255, 255, 255);
    font-weight: 100;
    object-fit: fill;
    padding-top: 1vw;
    padding-right: 4vw;
    padding-left: 4vw;
    padding-bottom: 6vw;
    text-align: justify;
  }
  
  .right h4 a {
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: 4vw;
    padding: 2vw 4vw;
    border: 0.5px solid rgba(255, 255, 255, 0.802);
    border-radius: 10px;
  }
  
  .right h4 a:hover {
    background-color: pink;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform: scale(1.1);
    border: 0px;
    color: black;
    font-weight: 300;
  }
}

.nav {
  padding: 2vw 3vw;
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  font-family: '', sans-serif;
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-10px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.navpart1 h3 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 100;
  animation: fade-down 1s .4s;
  text-decoration: none;
}

.navpart1 h3 a {
  font-weight: 100;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navpart2 {
  display: flex;
  align-items: center;
  gap: 1vw;
  animation: fade-down 1s .4s;
}

.navpart2 h4 {
  padding: 10px 20px;
  border: 0.5px solid rgba(255, 255, 255, 0.802);
  border-radius: 50px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.835);
  font-size: 20px;
  position: relative;
  transition: all ease 0.3s;
  overflow: hidden;
}

.navpart2 h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.3s;
}

.navpart2 h4:hover::after {
  bottom: 0;
  border-radius: 0;
}

.navpart2 h4 a {
  text-decoration: none;
  color: white;
  position: relative;
  z-index: 9;
}

.navpart2 h4 a:hover {
  color: black;
}

.icons {
  position: fixed;
  top: 39%;
  right: 0%;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.icons a {
  text-decoration: none;
  padding: 20px;
  font-size: 1vw;
  font-family: 'Rudiment', sans-serif;
  margin: 2px;
  text-align: left;
  border-radius: 50px 0px 0px 50px;
  transform: translate(140px, 0px);
  transition: all 0.5s;
}

.icons a:hover {
  transform: translate(0px, 0px);
}

.icons a:hover .fa-instagram {
  color: rgb(0, 0, 0);
}

.icons a:hover .fa-whatsapp {
  color: rgb(0, 0, 0);
}

.icons a:hover .fa-linkedin {
  color: rgb(0, 0, 0);
}

.icons a i {
  margin-right: 30px;
  transition: all 0.5s;
  color: rgb(255, 255, 255);
}

.icons a:hover i {
  transform: rotate(360deg);
}

.whatsapp,
.instagram,
.linkedin {
  background-color: none;
  color: rgb(0, 0, 0);

}

.whatsapp {
  font-size: 2vw;
}

.whatsapp:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.instagram:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.linkedin:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}



@media (max-width:768px) {


  .nav {
    padding: 4vw 4vw;
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: space-between;
    align-items: center;

  }

  .navpart2 h4 {
    padding: 3vw 5vw;
    border: 0.2px solid rgba(255, 255, 255, 0.802);
    border-radius: 50px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.835);
    font-size: 3vw;
    position: relative;
    transition: all ease 0.3s;
    overflow: hidden;
  }

  .icons a {
    text-decoration: none;
    padding: 20px;
    font-size: 2.5vw;
    font-family: 'Rudiment', sans-serif;
    margin: 2px;
    text-align: left;
    border-radius: 50px 0px 0px 50px;
    transform: translate(140px, 0px);
    transition: all 0.5s;
  }
}