@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'raleway';
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
background-color: #eabbc1;
display: inline-block;
}

#page1 {
    height: 100%;
    width: 100%;
    display: flex;

}

#content {
    height: 100%;
    width: 60%;
    align-items: center;
    justify-content: center;
    padding-top: 30vh;
    padding-left: 10vw;
    padding-right: 10vw;

}

#content h1 {
    font-size: 3vw;
    font-weight: 800;

}


#content p {
    font-size: 1vw;
    font-weight: 300;
    padding: 20px 0;
    text-align: justify;
}
#content h2{
    font-size: 2vw;
    font-weight: 100;
}
#content h4 {
    font-size: 2vw;
    font-weight: 400;
    padding: 20px 0;
}

#content img {
    height: 4vw;
    width: 4vw;
    margin-right: 20px;
}
#image{
    height: 100vh;
}

#image img{
    padding: 10vw;
    height: 100vh;
    width: auto;

}
a {
    text-decoration: none;
    padding: 6px 14px;
    position: absolute;
    top: 12%;
    left: 9%;
}

a:hover {
    color: #5763bb
}

.previous {
    color: #000000;
}

.round {
    border-radius: 50%;
}

.fa-solid.fa-circle-left {
    font-size: 80px;
}

@media (max-width:600px) {
    #page1 {
        display: flex;
        flex-direction: column;
    }
    #content h1 {
        font-size: 5vw;
        font-weight: 500;
    
    }
    #content {
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 10vh;
        padding-left: 10vw;
        padding-right: 10vw;
    }
    #image{
        height: 100vh;
    }
    
    #image img{
        padding: 10vw;
        height: 60vh;
        width: auto;
    
    }
  
        a {
            text-decoration: none;
            position: absolute;
            top: 2%;
            left: 9%;
        }

    .fa-solid.fa-circle-left {
        font-size: 30px;
    }
    #content img {
        height: 4vw;
        width: 4vw;
        margin-top: 0;
       
    }
    #content h4 {
        font-size: 3vw;
        font-weight: 400;
        padding: 10px 0;
    }
    #content p {
        font-size: 2vw;
        font-weight: 300;
        padding: 2vw 0;
        text-align: justify;
    }
}