@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/warm-winter');
@font-face
{
  font-family: myfont2;
  src: url(WarmWinter-3lzjL.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

html,body {
  font-family: 'raleway';
  background-color: black;
}

.page {
  width: 100%;
  height: 100%;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 110px 50px;
  background-color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.grid{
  width: 80%;
  margin-top: 2vw;
  display: grid;
  gap: 1vw;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 150px;
  transition: 1s;
  animation: fade-down 1s .4s;
  text-align: center;
 
}

.text {
  flex-basis: 30%;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

h1 {
  font-family: myfont2;
  color: pink;
  font-size: 10vw;
  font-weight: 100;
  text-align: center;
  text-transform: lowercase;
  letter-spacing: .2vw;
  animation: fade-down 1s .4s;
}

.box {
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: all .5s ease-in-out;
  cursor: pointer;
 
}

.box a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0);
  text-align: center;
  font-family: 'raleway';
  font-size: 22px;
  font-weight: 600;
}

.box:hover {
  background-color: rgba(0, 0, 0, 0.682);
  background-blend-mode: multiply;
  background-position: center;
  color: white;
}

.box:hover a {
  color: white;
}


.row-2 {
  grid-row: span 2;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-button {
  font-family: 'Raleway';
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 1.5vw;
  font-weight: 100;
  color: #fffbf5;
  background-color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 1s ease-in-out;
}

.filter-button:hover {
  border-radius: 20px;
  font-weight: 400;
}

.filters .filter-button.active {
  color: #ff8aa3;

  font-weight: 400;
}

.nav {
  padding: 2vw 3vw;
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-10px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.navpart1 {
  color: #fffbf5;
  font-size: 3vw;
  font-weight: 100;
  animation: fade-down 1s .4s;
  text-decoration: none;
}

.navpart1 h3 a {
  font-weight: 100;
  text-decoration: none;
  color: #fffbf5;
  letter-spacing: .2vw;
  font-family: myfont2;
}

.navpart2 {
  display: flex;
  align-items: center;
  gap: 1vw;
  animation: fade-down 1s .4s;
  font-family: myfont2;
}

.navpart2 h4 {
  padding: 10px 20px;
  border: 0.5px solid #fffbf5;
  border-radius: 20px;
  font-weight: 100;
  color: #fffbf5;
  font-size: 2.5vw;
  position: relative;
  transition: all ease 0.3s;
  overflow: hidden;
}

.navpart2 h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color:#ff8aa3;
  left: 0;
  bottom: -110%;
  border-radius: 50%;
  transition: all ease 0.3s;
  border: 0.5px solid #ff8aa3;
}

.navpart2 h4:hover::after {
  bottom: 0;
  border-radius: 0;
}

.navpart2 h4 a {
  text-decoration: none;
  color: white;
  position: relative;
  z-index: 9;
}

.navpart2 h4 a:hover {
  color: black;
}

.icons {
  position: fixed;
  top: 45%;
  right: 0%;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.icons a {
  text-decoration: none;
  padding: 20px;
  font-size: 1.5vw;
  margin: 2px;
  text-align: left;
  border-radius: 50px 0px 0px 50px;
  transform: translate(140px, 0px);
  transition: all 0.5s;
}

.icons a i {
  margin-right: 30px;
  transition: all 0.5s;
  color: #fffbf5;
}

.icons a:hover i {
  transform: rotate(360deg);
  font-size: 2vw;
}


@media screen and (max-width: 768px) {
  .grid {
    width: 100%;
    padding-inline: 12px;
    grid-auto-rows: 220px;
  }
  .navpart1 {
    font-size: 8vw;
    font-weight: 100;
    animation: fade-down 1s .4s;
    text-decoration: none;
  }
  .box {
    grid-row: span 1;
    grid-column: span 4;
  }
   h1{
    font-size: 10vw;
    padding-bottom: 0w;
   }
  .nav {
    padding: 8vw 10vw;
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    
  }
  .navpart2 h4 {
    padding: 1.5vw 3vw;
    border: 0.1px solid #fffbf5;
    border-radius: 50px;
    font-weight: 100;
    font-size: 5vw;
    position: relative;
    transition: all ease 0.3s;
    overflow: hidden;
  }
  .icons a {
    text-decoration: none;
    padding: 20px;
    font-size: 2.5vw;
    font-family: 'Raleway';
    margin: 2px;
    text-align: left;
    border-radius: 50px 0px 0px 50px;
  }
  .filter-button {
    font-family: 'Raleway';
    padding: 10px 20px;
    font-size: 4vw;
    font-weight: 100;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 1s ease;
  }
}