@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'raleway';
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#page1 {
    height: 100%;
    width: 100%;
    display: flex;
}

#content {
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-left: 10vw;
    padding-top: 10vw;
    padding-right: 5vw;
    width: 50%;
    float: left;
}

#title {
    display: flex;
    margin-bottom: 2vw;
}

#title h1 {
    font-size: 201px;
    font-weight: 200;
    font-family: 'barlow condensed';
    line-height: 1;
    padding-left: 10px;
   
    
}

#title h2 {
    font-size: 115px;
    font-weight: 300;
    font-family: 'barlow condensed';
    line-height: 0.75;

}
#title h3 {
    font-size: 80px;
    font-weight: 300;
    font-family: 'barlow condensed';

}


#para>h1 {
    font-size: 30px;
    font-weight: 200;
}

#content>h2 {
    font-size: 50px;
    font-weight: 300;
}

#para p {
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
}

#para h4 {
    font-size: 30px;
    font-weight: 200;
    padding: 20px 0;
}

#para>img {
    height: 70px;
    width: 70px;
    margin-right: 20px;
}

#illustration {
    height: 100%;
    width: 50%;
    object-fit: contain;
    float: right;
    overflow: hidden;
}

#illustration img {
    padding-top: 2vw;
    padding-left: 3vw;
    padding-right: 0;
    height: 100%;
    width: auto;
}

#page2 {
    background-color: black;
    color: white;
    padding: 100px 350px;
    justify-content: center;
    align-items: center;
}

#page2 h2 {
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    padding-bottom: 20px;
}

#page2 p {
    font-size: 25px;
    font-weight: 100;
    text-align: justify;
    padding-bottom: 30px;
}

#page2 h4 {
    font-size: 25px;
    font-weight: 100;
    text-align: justify;
    padding-left: 13px;
}

#IR{
    width: 80%;
    margin: 0 auto; 
    display: block; 
}

#page3 {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page3 img {
    object-fit: cover;
    width: 100%;
}

#firstimage {
    height: auto;
    width: 30%;
    position: absolute;
    top: 105%;
    left: 10%;
}

  a {
    text-decoration: none;
    padding: 6px 14px;
    position: absolute;
    top: 5%;
    left: 6%;
}

a:hover {
    color: #341600
}

.previous {
    color: #000000;
}

.round {
    border-radius: 50%;
}
.fa-solid.fa-circle-left {
    font-size: 80px;
}
@media (max-width:600px) {
    a {
        text-decoration: none;
        position: absolute;
        top: 8%;
        left: 9%;
    }

    .fa-solid.fa-circle-left {
        font-size: 30px;
    }
    #page1{
        height: 300%;
        display: flex;
        flex-direction: column;
    }
    #content {
        height: 50%;
        width: 100%;
        padding-left: 30vw;
        padding-right: 20vw;

    }
    #title {
        display: flex;

    }
    
    #title h1 {
        font-size: 20vw;
        font-weight: 200;
        font-family: 'barlow condensed';
        line-height: .9;
        padding-left: 2vw;
        
    }
    
    #title h2 {
        font-size: 10vw;
        font-weight: 300;
        font-family: 'barlow condensed';
        line-height: 0.75;
    
    }
    #title h3 {
        font-size: 8vw;
        font-weight: 300;
        font-family: 'barlow condensed';
    
    }
    
    #para>h1 {
        font-size: 4vw;
        font-weight: 300;
        margin-bottom: 2vw;
    }
    
    #content>h2 {
        font-size: 50px;
        font-weight: 300;
    }
    
    #para p {
        
        font-size: 2vw;
        font-weight: 300;
        text-align: justify;
    }
    
    #para>h4 {
        font-size: 3vw;
        font-weight: 300;
    }
    
    #para>img {
        height: 6vw;
        width: 6vw;
        margin-right: 2vw;
    }
    
    #illustration {
        height: 100%;
        width: 100%;
        object-fit: contain;
        overflow: hidden;
        padding-bottom: 2vw;
    }
    
    #illustration img {
        height: 100%;
        width: 110%;
    }
    #page2 {
        background-color: black;
        color: white;
        padding-right: 20vw;
        padding-left: 20vw;
        padding-top: 10vw;
        padding-bottom: 10vw;
        justify-content: center;
        align-items: center;
    }
    
    #page2 h2 {
        font-size: 4vw;
        font-weight: 100;
        text-align: center;
        padding-bottom: 20px;
    }
    
    #page2 p {
        font-size: 2vw;
        font-weight: 100;
        text-align: justify;
        padding-bottom: 30px;
    }
    
    #page2 h4 {
        font-size: 25px;
        font-weight: 100;
        text-align: justify;
        padding-left: 13px;
    }
    #firstimage {
        height: auto;
        width: 30%;
        position: absolute;
        top: 138%;
        left: 5%;
    }
}